*,
*::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: 'Heebo', sans-serif;
}